*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
   
   body{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

body span{
    color: blue;
}

.header nav{
    display: flex;
    align-content: center;
    justify-content: center; 
    background-color: aquamarine;

}
    
.header img{
    width: 40px;
}

.header ul{
    display: flex;
    list-style: none;
}